html {background-color:black;}

header {
  text-align: center;
  font-size: xx-large;
  color: white;
  background-color: black;
}

footer {
  text-align: center;
  font-size: xx-large;
  color: white;
  background-color: black;
}

#sidebar {
  min-width: 208px;
  background-color:blueviolet;
  color: aliceblue;
  text-align: center;
}

#general-format {
  background-color: white;  
}

#nestedrow1 {
  height: 20%;
  background-color:black;
  font-size: larger;
  color: white;
  text-align: center;
}

#nestedrow2 {
  height: 30%;
  background-color:rgb(42, 43, 75);
  font-size: larger;
  color: white;
  text-align: center;
}

#nestedrow3 {
  height: 50%;
  background-color:rgb(45, 18, 95);
  font-size: larger;
  color: white;
  text-align: center;
  overflow-y: hidden;
}

/* Make icons get bigger when hovering over*/
.icons {width:64px;height:64px;}
.icons:hover {width:75px;height:75px;}

#profile_pic {
  display: block;
  max-width: 240px;
  margin-left: auto;
  margin-right: auto;
  height: 240px;
}

#experience {
  
  margin-top:1rem;
  height: 92%;
  .card-body {
    align-items: center;
  }
}

#skills {
  margin-top:1rem;
  height: 92%;
}

#projects {
  height: 100%;
}